[submodule "software-agent-sdk"]
	path = software-agent-sdk
	url = https://github.com/malusamayo/software-agent-sdk.git
[submodule "LOCA-bench"]
	path = LOCA-bench
	url = https://github.com/malusamayo/LOCA-bench.git
[submodule "external/RefactorBench"]
	path = external/RefactorBench
	url = https://github.com/microsoft/RefactorBench.git
